body {
  background-color: #d1f3ff;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #00bdff;
  border-color: #00bdff;
  border-radius: 2em;
  margin-bottom: 0.5em;
}

.header>h1 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 0.15em;
  padding-left: 1em;
}

.header__form>* {
  font-size: 18px;
  text-decoration: none;
  background-color: #aeefff;
  border-color: #81e6ff;
  padding: 0.5em;
  border: 0px;
  border-radius: 1em;
  outline: none;
  margin-right: 0.75em;
}

.body {
  background-color: #9fecff;
  border-radius: 1em;
  height: 85vh;
}

.table__sort {
  display: flex;
  justify-content: center;
  color: #0072dd;
  width: 100%;
  align-items: baseline;
  padding-top: 1em;
}

.table__sort>* {
  margin: 0em 0.25em;
}

.table__sort__select {
  font-size: 20px;
  color: #00bdff;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  margin-bottom: 1.5em;
  padding: 0.25em;
  width: 12.5em;
  outline: none;
  border-radius: 1.25em;
  transition: 0.25s;
  cursor: pointer;
}

.table {
  display: block;
  text-align: center;
  padding: 0.5em;
}

.table__header>tr>th {
  background-color: #0072dd;
  font-weight: normal;
  color: #ffffff;
  padding: 0.5em;
  font-size: 20px;
  width: 30vh;
}

.table__body>tr>td {
  background-color: #a8d5ff;
  font-weight: normal;
  font-size: 18px;
  padding: 0.25em;
}